body h1 {
    margin-top: 2rem;
}

.navbar {
    padding: .5rem 9rem;
}

.item-list {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
    font-size: medium;
}

.item-list form {
    margin: 0;
}

.item-list .row {
    margin-left: 0;
    margin-right: 0;
}

.item-list-header {
    color: #495057;
    background-color: #e9ecef;
    font-weight: bold;
}

.item-list-header .item-list-cell {
    border-bottom: 2px solid #e9ecef;
}

.item-list-header .item-list-cell:last-child {
    justify-content: center;
}

.item-list-cell {
    border-bottom: 1px solid #e9ecef;
    border-left: 1px solid #e9ecef;
    padding: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    word-break: normal;
}

.item-list-cell:last-child {
    border-right: 1px solid #e9ecef;
    padding: 8px;
}

.item-list-cell span {
    width: 100%;
    word-wrap: break-word;
}

.item-list-cell .btn {
    width: 100%;
}

.purchase-btn-group {
    display: flex;
    align-items: flex-end;
}

.container-fluid {
    width: 75%;
}