<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(~{::title})" lang="en">
    <title>Index</title>
</head>

<body id="home-page">
<nav th:replace="fragments/navbar :: navbar('index')">Navbar</nav>

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-3">Modern-Era Food</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or
            information.
        </p>
        <hr class="my-4">
        <h1 class="display-4">Our Team</h1>
        <p>Below you will find links to our GitHub profiles, as well as the source repository for this project.</p>
        <p class="lead">
            <a class="btn btn-outline-primary btn-lg" href="https://github.com/konstantinkeller" target="_blank">Konstantin Keller</a>
            <a class="btn btn-outline-primary btn-lg" href="https://github.com/GoldbergAlexander" target="_blank">Alexander Goldberg</a>
            <a class="btn btn-outline-primary btn-lg" href="https://github.com/sshtea" target="_blank">Safa Asadi</a>
            <a class="btn btn-outline-primary btn-lg" href="https://github.com/brettzg" target="_blank">Brett Goldfine</a>
            <a class="btn btn-primary btn-lg" href="https://github.com/GoldbergAlexander/menu" target="_blank">Source Code</a>
        </p>
    </div>
</div>

<script>
    function changeItemPage() {
        window.location.replace("http://localhost:8080/items");
    }

    function changeAdminPage() {
        window.location.replace("http://localhost:8080/login");
    }

    function changeCartPage() {
        window.location.replace("http://localhost:8080/cart");
    }
</script>
</body>

</html>