<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(~{::title})" lang="en">
    <title>Items</title>
</head>

<body>
<nav th:replace="fragments/navbar :: navbar('items')">Navbar</nav>

<div class="container-fluid">
    <h1>Items</h1>

    <div class="item-list">
        <div class="row item-list-header">
            <div class="col-3 item-list-cell"><span>Name</span></div>
            <div class="col-5 item-list-cell"><span>Description</span></div>
            <div class="col-2 item-list-cell"><span>Price</span></div>
            <div class="col-2 item-list-cell">
                <img src="" th:src="@{/img/add_shopping_cart_grey.svg}" width="24" height="24">
            </div>
        </div>
        <form th:each="item : ${items}" action="#" th:action="@{/cart}" method="post">
            <div class="row">
                <input type="hidden" th:value="${item.id}" id="id" name="id"/>
                <div class="col-3 item-list-cell"><span th:text="${item.name}"></span></div>
                <div class="col-5 item-list-cell"><span th:text="${item.description}"></span></div>
                <div class="col-2 item-list-cell"><span th:text="'$'+${#numbers.formatDecimal(item.price, 1, 'COMMA', 2, 'POINT')}"></span></div>
                <div class="col-2 item-list-cell"><button class="btn btn-success" type="submit" name="add_cart"><img th:src="@{/img/add_white.svg}" height="24" width="24"></button></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>